#===============================================================================
# BINARIES
#===============================================================================

*.a
*.apk
*.app
*.bin
*.dll
*.dylib
*.exe
*.la
*.lai
*.lib
*.lo
*.o
*.obj
*.out
*.pdb
*.slo
*.so

#===============================================================================
# CMAKE
#===============================================================================
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

#===============================================================================
# PROJECT
#===============================================================================

bin/
build/
build_*/
crash/
doc/
GGSrcFiles.cmake
version.h

#===============================================================================
# VSCODE
#===============================================================================

ipch/
*.vscode
